*{
    margin: 0;
}
.sidebar{
    width: 50px;
    min-height: 100%;
    background-color: #111827;;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    color: white;
}
.left-menu-icon{
    font-size: 20px;
    margin-bottom: 40px;
}

.sidebar-bottom{
    width: 80%;
    padding: 10px 0;
    margin-top: 10px;
    color: white;
    display: flex;
    align-items: center;
    border-top: 1px solid #4b4b4b;
    justify-content: center;
    flex-direction: column;
}
.dark{
    background-color: #111827;
    color:#f3f4f6;
    
}
.night{
    background-color: #312e81;
}
.light{
    background-color: #f3f4f6;
    color: #111827;
}
.color-box{
    width: 20px;
    height: 20px;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    cursor: pointer;
    margin: 15px;
}
 .sammy1{

    border-color: white;
    
}
 .sammy2{
    border-color: black;

}


.sidebar.night{
    background-color: #312e81;
    color: #b4bbc7;
    
}
.sidebar .light{
    background-color: #f3f4f6;
}
.sidebar.dark{
    background-color: #111827;
}
.left-menu-icon .active .light{
    color: black;
}



